
.icon-location:before { content: '\e800'; } /* '' */
.icon-menu:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-star:before { content: '\e803'; } /* '' */
.icon-home:before { content: '\e804'; } /* '' */
.icon-book:before { content: '\e805'; } /* '' */
.icon-basket:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-heart-empty:before { content: '\e809'; } /* '' */
.icon-heart:before { content: '\e80a'; } /* '' */
.icon-palette:before { content: '\e80b'; } /* '' */
.icon-emo-happy:before { content: '\e80c'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-cinema:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-plus:before { content: '\e811'; } /* '' */
.icon-dot-3:before { content: '\e812'; } /* '' */
.icon-color-adjust:before { content: '\f020'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-angle-double-left:before { content: '\f100'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-trello:before { content: '\f181'; } /* '' */
.icon-shopping-basket:before { content: '\f291'; } /* '' */
.icon-percent:before { content: '\f295'; } /* '' */